In [2]:
import pandas as pd
import numpy as np
import os, io

In [10]:
raw_recipes  = pd.read_csv('RAW_recipes.csv',index_col=1)# read csv into ratings_df dataframe
raw_recipes.head(3)

,name,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
id,,,,,,,,,,,
137739,arriba baked winter squash mexican style,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7
31490,a bit different breakfast pizza,30,26278,2002-06-17,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg...",6
112140,all in the kitchen chili,130,196586,2005-02-25,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,"['ground beef', 'yellow onions', 'diced tomato...",13

In [11]:
raw_recipes = raw_recipes.sample(100000)
raw_recipes.shape

(100000, 11)

In [12]:
raw_recipes = raw_recipes.drop(columns=['name','minutes', 'contributor_id', 'submitted','steps','description'])
raw_recipes.head(3)

,tags,nutrition,n_steps,ingredients,n_ingredients
id,,,,,
134008,"['30-minutes-or-less', 'time-to-make', 'course...","[293.6, 24.0, 6.0, 24.0, 66.0, 30.0, 1.0]",11,"['boneless skinless chicken breasts', 'feta ch...",12
301115,"['time-to-make', 'course', 'main-ingredient', ...","[465.9, 53.0, 26.0, 26.0, 27.0, 57.0, 9.0]",8,"['fresh green beans', 'bacon', 'onion', 'garli...",7
380167,"['15-minutes-or-less', 'time-to-make', 'course...","[368.2, 36.0, 19.0, 20.0, 16.0, 51.0, 10.0]",13,"['white bread', 'all-purpose flour', 'sugar', ...",8

In [13]:
raw_recipes[['calories','total fat','sugar','sodium','protein','saturated fat','carbohydrates']] = raw_recipes.nutrition.str.split(",",expand=True) 
raw_recipes['calories'] = raw_recipes['calories'].apply(lambda x: x.replace("[" ,""))
raw_recipes['carbohydrates'] = raw_recipes['carbohydrates'].apply(lambda x: x.replace("]" ,""))
raw_recipes[['calories','total fat','sugar','sodium','protein','saturated fat','carbohydrates']] =  raw_recipes[['calories','total fat','sugar','sodium','protein','saturated fat','carbohydrates']].astype(float)

In [14]:
raw_recipes.head()

,tags,nutrition,n_steps,ingredients,n_ingredients,calories,total fat,sugar,sodium,protein,saturated fat,carbohydrates
id,,,,,,,,,,,,
134008,"['30-minutes-or-less', 'time-to-make', 'course...","[293.6, 24.0, 6.0, 24.0, 66.0, 30.0, 1.0]",11,"['boneless skinless chicken breasts', 'feta ch...",12,293.6,24.0,6.0,24.0,66.0,30.0,1.0
301115,"['time-to-make', 'course', 'main-ingredient', ...","[465.9, 53.0, 26.0, 26.0, 27.0, 57.0, 9.0]",8,"['fresh green beans', 'bacon', 'onion', 'garli...",7,465.9,53.0,26.0,26.0,27.0,57.0,9.0
380167,"['15-minutes-or-less', 'time-to-make', 'course...","[368.2, 36.0, 19.0, 20.0, 16.0, 51.0, 10.0]",13,"['white bread', 'all-purpose flour', 'sugar', ...",8,368.2,36.0,19.0,20.0,16.0,51.0,10.0
277671,"['60-minutes-or-less', 'time-to-make', 'course...","[219.3, 2.0, 34.0, 28.0, 25.0, 1.0, 14.0]",2,"['kidney beans', 'black beans', 'diced tomatoe...",11,219.3,2.0,34.0,28.0,25.0,1.0,14.0
184547,"['60-minutes-or-less', 'time-to-make', 'course...","[167.5, 8.0, 72.0, 8.0, 5.0, 6.0, 9.0]",10,"['carrot', 'sugar', 'vegetable oil', 'buttermi...",10,167.5,8.0,72.0,8.0,5.0,6.0,9.0

In [15]:
raw_recipes = raw_recipes.drop(columns=['tags','nutrition', 'n_steps', 'ingredients','n_ingredients'])
raw_recipes.head()

,calories,total fat,sugar,sodium,protein,saturated fat,carbohydrates
id,,,,,,,
134008,293.6,24.0,6.0,24.0,66.0,30.0,1.0
301115,465.9,53.0,26.0,26.0,27.0,57.0,9.0
380167,368.2,36.0,19.0,20.0,16.0,51.0,10.0
277671,219.3,2.0,34.0,28.0,25.0,1.0,14.0
184547,167.5,8.0,72.0,8.0,5.0,6.0,9.0